<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.6/css/uikit.min.css" />
  <title>button</title>
</head>
<body>
  <!-- 確定とかの黒いボタン -->
<div class="uk-container">
    <button
      class="uk-button-secondary
        uk-button-large
        uk-width-1-1
        uk-margin-small-bottom
        uk-border-rounded">
      <a href="order_confirm.html" class="uk-link-reset">
        ボタンに表示させる文字
      </a>
    </button>
</div>
 </body>
</html>