<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>detail</title>
  </head>
  <body>
        <!-----------------------
                詳細情報
                ------------------------->
        <div class="detail">
          <button type="button" class="uk-button uk-button-primary uk-width-1-1">
            <span class="uk-text-bold">商品詳細情報▼<span>
          </button>
          <div uk-dropdown="mode:click" class="dropdown uk-padding-small">
            <h5 class="uk-margin-small uk-text-primary">推しpoint</h5>
            <div class="text uk-text-small">
              <table class="uk-table uk-padding-small">
                <thead>
                  <tr>
                    <th>種類</th>
                    <th>説明</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="uk-width-1-4">塩味</td>
                    <td class="uk-width-expanda">
                      めちゃうま一番人気めちゃうま一番人気めちゃうま一番人気めちゃうま一番人気めちゃうま一番人気
                    </td>
                  </tr>
                  <tr>
                    <td>タレ味</td>
                    <td>
                      めちゃうまご飯が進むめちゃうまご飯が進むめちゃうまご飯が進むめちゃうまご飯が進む
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      <!-- <div uk-dropdown="pos:bottom-center"></div> -->
    </div>
  </body>
</html>
