<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      background-color: #fff;
      border-top: 0.5px solid #aaa;
    </style>
    <title>footer_sorce</title>
  </head>
  <body>
    <footer
      class="uk-position-bottom uk-position-fixed uk-padding-small uk-padding-remove-horizontal"
    >
      <!-- uk-padding-remove-horizontal->左右のpadding削除 -->
      <div class="uk-flex uk-flex-around">
        <a href="#"><img src="image/search.png" alt="search" /></a>
        <a href="#"><img src="image/histry.png" alt="histry" /></a>
        <a href="#"><img src="image/heart-regular.png" alt="heart" /></a>
        <a href="#"><img src="image/cart.png" alt="cart" /></a>
        <a href="#"><img src="image/profile.png" alt="profile" /></a>
      </div>
    </footer>
  </body>
</html>
