<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main_shop_sorce</title>
  </head>
  <body>
    <div class="uk-card uk-margin-bottom">
      <div class="uk-card-media-top uk-padding-left uk-padding-right">
        <img
          src="image/no_image.png"
          alt="shop_name"
          class="shop_image uk-padding-left"
        />
        <img
          src="image/heart-solid.png"
          alt="like"
          class="uk-overlay uk-position-center-right uk-padding-small"
        />
      </div>
      <div class="uk-card-footer uk-padding-small">
        店名：ほにゃらら<br />
        人気商品：ホニャララ<br />
        <div class="uk-child-width-1-2-@s uk-flex uk-flex-between">
          <span class="uk-text-small uk-text-primary">カテゴリ：honyarara</span>
          <span class="uk-text-small uk-text-right uk-text-primary"
            >徒歩1分</span
          >
        </div>
      </div>
    </div>
  </body>
</html>
